{%load static%}
<footer>
  <button onclick="myFunction()" >klikaj byku</button>
    <div class="platnosc">
        Akceptowalne metody płatności
        <div><img src="{%static '/img/master.jpg'%}" width="100" height="50" class="zdjecia" ></div>
        <div><img src="{%static '/img/visa.jpg'%}" width="100" height="50" class="zdjecia" ></div>
        <div><img src="{%static '/img/paypal.jpg'%}" width="100" height="50" class="zdjecia" ></div>
        <div><img src="{%static '/img/payu.jpg'%}" width="100" height="50" class="zdjecia" ></div>
        <div><img src="{%static '/img/zapobraniem.jpg'%}" width="230" height="50" class="zdjecia" ></div>
        <div><img src="{%static '/img/przelew.jpg'%}" width="230" height="50" class="zdjecia" ></div>
    </div>
    <div class="platnosc">
    Dostępne sposoby dostawy
    <div> <img src="{%static '/img/poczta.jpg'%}" width="200" height="50" class="zdjecia"></div>
    <div> <img src="{%static '/img/gls.jpg'%}" width="150" height="50" class="zdjecia"></div>
    <div> <img src="{%static '/img/inpost.jpg'%}" width="150" height="50" class="zdjecia"></div>
    <div> <img src="{%static '/img/dhl.jpg'%}" width="200" height="50" class="zdjecia"></div>
    </div>
    
    <div class="korzysci">
    <div>
        Korzyści z kupowania w naszym sklepie<br><br><br>
      <div><img src="{%static '/img/truck.png'%}" width="50" height="50"  > <a class="a" >Darmowa dostawa powyżej 150 PLN</a> </div>
     <br> <img src="{%static '/img/reply.png'%}" width="50" height="50"  > <a class="a" >Zwroty gratis</a>
      <div><br><img src="{%static '/img/calendar.png'%}" width="50" height="50"  > <a class="a" >100-dniowe prawo zwrotu</a></div><br>
      <img src="{%static '/img/phone.png'%}" width="50" height="50" > <a class="a" >Bezpłatna infolinia : 123-654-789</a>
    </div>
    <div class="tak">
        Korzyści z kupowania w naszym sklepie <br><br><br>
        <div>    <img src="{%static '/img/pin.png'%}" width="50" height="50"> <a class="a">Lokalizacja biura  Piernikowa 321a, 44-100 Gliwice</a> </div>
      <br>  <img src="{%static '/img/clock.png'%}" width="50" height="50"> <a class="a">Godziny otwarcia biura: </a><br>
        <a class="b">Poniedziałek-Piątek 9-16 </a><br>
         <a class="c"> Sobota i Niedziela biuro nieczynne</a> </a>
    </div>
    </div>
    <div class="napis">Strona powstała w celach educkacyjnych</div>
    <script>
      function myFunction() {
        document.getElementsByTagName("footer")[0].classList.toggle("rozwiniety");
      }
      </script>
    </footer>