{% extends 'base.html'%}

{% block main %}
{% if empty %}
<h1 style="text-align:center">{{ empty_message }} </h1>
{% else %}

<main class="cart">
 
    <section class="basket_border">Nazwa produktu</section>
    <section class="basket_border"> Rozmiar</section>
    <section class="basket_border">Ilość</section>
    <section class="basket_border">Usuń</section>
    <section class="basket_border">Cena </section>
    {% for item in cart.cartitem_set.all %}
    <section class="basket_border">{{item.product}}</section>
    <section class="basket_border">{% if item.variations.all %} {% for subitem in item.variations.all %} {{subtitem.category|capfirst}}  {{subitem.title|capfirst }} {%endfor%}{%endif%}</section>
    <section class="basket_border">{{item.quantity}}</section>
    <a class="basket_border" href='{% url "update_cart" item.id %}' >Usuń</a>
    <section class="basket_border">{%if item.product.sale_price %}{{item.product.sale_price}}{%else%}{{item.product.price}}{%endif%} PLN</section>
    {%endfor%}

    
{% endif %}
   
</main>
<aside>
    <section>Suma: {{cart.total|floatformat:2}} PLN</section>
    <input type="button" class="zaplac" value="Zapłać"></input>
    </aside>



{% endblock main %}