{%extends 'base.html'%}
{%load static%}
{%block main%}
<main>
<div class="products">
<section class="obrazy">
    <h1 class="tytul_produktu">{{product.title}}</h1>
   <ul class="thumb">
    {%for item in product.productimage_set.all%}
       <li><a href="{{item.image.url}}" target="imgBox"><img src="{{item.image.url}}" class="cover" ></a></li>
    {%endfor%}   
   </ul>
   {%for item in product.productimage_set.all%}
   {%if item.thumbnail %}
   <figure class="imgBox contain"><img src="{{item.image.url}}"  >
</figure>
{%endif%}
{%endfor%} 
</section>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.thumb a').click(function(e){
            e.preventDefault();
            $('.imgBox img').attr("src", $(this).attr("href"))
        })
    })
</script>

<section >
    {%if product.sale_price%}
    <del>{{product.price}}PLN </del> <h1 class="pomarancz" > {{product.sale_price}}PLN</h1>
    {%else%}
    <h1>{{product.price}}PLN</h1>
    {%endif%}
{% autoescape on %}
   {{product.text|safe}}
{% endautoescape %}
<br><br>
<p>Wybierz rozmiar:
        {% if product.variation_set.all %}

          {%if product.variation_set.sizes %}
          <form class="radio-toolbar" name='size'>
          {% for item in product.variation_set.sizes %}
            <input type="radio" id='{{item.title|capfirst}}' name='size'>
            <label  value='{{item.title|lower}}' for='{{item.title|capfirst}}'>{{item.title|capfirst}} </label>
            {%endfor%}
    
    </form>
    {%endif%}

    {%endif%}
<form method="GET" action='{% url "update_cart" product.slug %}'>
    <input name="qty" type="number"/>
    <input type="submit" value="Dodaj do koszyka"/>
</form>   
<button onclick="window.location.href='{% url "update_cart" product.slug %}'"class="myButton">Dodaj do koszyka</button>
</section>
</div>
</main>
{%endblock main%}
