{%extends 'base.html'%}
{%load static%}
{%block main%}
<main>
<div class="products">
<section class="obrazy">
    <h1 class="tytul_produktu">{{product.title}}</h1>
   <ul class="thumb">
    {%for item in product.productimage_set.all%}
       <li><a href="{{item.image.url}}" target="imgBox"><img src="{{item.image.url}}" class="cover" ></a></li>
    {%endfor%}   
   </ul>
   {%for item in product.productimage_set.all%}
   {%if item.thumbnail %}
   <figure class="imgBox contain"><img src="{{item.image.url}}"  >
</figure>
{%endif%}
{%endfor%} 
</section>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.thumb a').click(function(e){
            e.preventDefault();
            $('.imgBox img').attr("src", $(this).attr("href"))
        })
    })
</script>

<section >
    {%if product.sale_price%}
    <del>{{product.price}}PLN </del> <h1 class="pomarancz" > {{product.sale_price}}PLN</h1>
    {%else%}
    <h1>{{product.price}}PLN</h1>
    {%endif%}
{% autoescape on %}
   {{product.text|safe}}
{% endautoescape %}
<br><br>
<p>Wybierz rozmiar:<p>
      <div class="radio-toolbar">
        <input type="radio" id="sizes" name="size" value="S" >
        <label for="sizes">S</label>
        <input type="radio" id="sizem" name="size" value="M" >
        <label for="sizem">M</label>
        <input type="radio" id="sizel" name="size" value="L" >
        <label for="sizel">L</label>
        <input type="radio" id="sizexl" name="size" value="XL" >
        <label for="sizexl">XL</label>
        <input type="radio" id="sizexxl" name="size" value="XXL" >
        <label for="sizexxl">XXL</label>
    </div>
<button href='{% url "update_cart" product.slug %}' class="myButton">Dodaj do koszyka</button>
<a href='{% url "update_cart" product.slug %}'>Dodaj do koszyka</a>
</section>
</div>
</main>
{%endblock main%}
