{%extends 'base.html'%}
{%load static%}
{%block main%}
<main>
<div class="products">
<section class="obrazy">
    <h1 class="tytul_produktu">{{product.title}}</h1>
   <ul class="thumb">
    {%for item in product.productimage_set.all%}
       <li><a href="{{item.image.url}}" target="imgBox"><img src="{{item.image.url}}" class="cover" ></a></li>
    {%endfor%}   
   </ul>
   {%for item in product.productimage_set.all%}
   {%if item.thumbnail %}
   <figure class="imgBox contain"><img src="{{item.image.url}}"  >
</figure>
{%endif%}
{%endfor%} 
</section>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.thumb a').click(function(e){
            e.preventDefault();
            $('.imgBox img').attr("src", $(this).attr("href"))
        })
    })
</script>

<section >
    {%if product.sale_price%}
    <del>{{product.price}}PLN </del> <p class="pomarancz">{{product.sale_price}}PLN</p>
    {%else%}
    <h1>{{product.price}}PLN</h1>
    {%endif%}
{% autoescape on %}
   {{product.text|safe}}
{% endautoescape %}
<p class="ilosc">Ilość:</p>
<input  name='qty' type="number" placeholder="1">
<br><br>

<p>Wybierz rozmiar:
        {% if product.variation_set.all %}

          {%if product.variation_set.sizes %}
          <form class="radio-toolbar" method="GET" action='{% url "update_cart" product.slug %}' >
          {% for item in product.variation_set.sizes %}
            <input type="radio" id='{{item.title|capfirst}}' name='size' value='{{item.title|lower}}'>
            <label  value='{{item.title|lower}}' for='{{item.title|capfirst}}'>{{item.title|capfirst}} </label>
            {%endfor%}
    {%endif%}
    {%endif%}
   <br>
    <button type="submit" class="myButton" >Dodaj do koszyka</button>
</form>  
</section>
</div>
<section>
<p> Inni wybierali też</p>


<div class="produkty">
      
    {% for p in wszystkie %}
    {%if product != p %}
   
    <div class="kurtka" >
        {%for item in p.productimage_set.all%}
        {%if item.thumbnail %}
        <img src="{{item.image.url}}" width="100%" height="450px" class="cover zdjecie"  >
        {%endif%}
        {%endfor%}
       
        <div class="nazwa_produktu"  ><a  class="nazwa_produktu" href='/produkty/{{p.slug}}' > {{p.title}} </a> </div>
    <div> {%if p.sale_price%}
        <span class="pomarancz">{{ p.sale_price}}PLN</span> <del>{{p.price}}PLN </del>
        {%else%}
        <h4>{{p.price}} PLN</h4>
        {%endif%} </a> </div>
    <button class="guzik"><img src="{%static '/img/koszyk.png'%}" width="30px"height="30px" > Dodaj do koszyka</button>
    </div>

    {%endif%}
    {%endfor%}
 
  

  </div>



</section>
</main>
{%endblock main%}
